<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity 
		    name="Sap.Data.SQLAnywhere.EF6" 
		    publicKeyToken="f222fc4333e0d400" 
		    culture="neutral" 
		/>
                <bindingRedirect 
		    oldVersion="17.0.0.0-17.0.4.20534"
		    newVersion="17.0.4.20534"
		/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
